<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/47ca9b07f7.js" crossorigin="anonymous"></script>
</head>
<body>

	<div class="sidebar">
		<div class="logo_content">
			<div class="logo">
				<i class='bx bx-code-alt'></i>
				<div class="logo_name" style ="font-family: 'Dosis', sans-serif; color: rgb(67, 216, 201); text-align: center; font-weight: bold; font-size: 30px;" >  &nbspLet's Quiz </div>
			</div>
			<!-- <i class='bx bx-menu' id="btn" ></i> -->
		</div>
		<ul class="nav_list">
			<li>
				<a href="#">
					<i class='bx bx-grid-alt' ></i>
					<span>Dashboard</span>
				</a>
                <!-- <span class="tooltip">Dashboard</span> -->
			</li>
            <li>
				<a href="#">
					<i class="fas fa-chalkboard-teacher"></i>
					<span>Profile</span>
				</a>
                <!-- <span class="tooltip">Dashboard</span> -->
			</li>
            <li>
				<a href="#">
					<i class="fas fa-university"></i>
					<span>Courses</span>
				</a>
                <!-- <span class="tooltip">Dashboard</span> -->
			</li>
            <li>
				<a href="#">
					<i class="far fa-file-alt"></i>
					<span>Test</span>
				</a>
                <!-- <span class="tooltip">Dashboard</span> -->
			</li>
            <li>
				<a href="#">
					<i class="fas fa-poll"></i>
					<span>Results</span>
				</a>
                <!-- <span class="tooltip">Dashboard</span> -->
			</li>
		</ul>
        <div class="profile_content">
            <div class="profile">
                <div class="profile_details">
                    <img src="/img/bg1.jpeg" alt="">
                    <div class="name_job">
                        <div class="name"><%=user.name%></div>
                        <!-- <div class="job">Department</div> -->
                    </div>
                </div>
				<a href="/AdminSignup/sign-out">
					<button class="signout" >
						<i class='bx bx-log-out' id="log_out"></i>
					</button>
				</a>
                
            </div>
        </div>
	</div>
    <script>
        // let btn = document.querySelector("#btn");
        // let Sidebar = document.querySelector(".sidebar");
        
    </script>
</body>
</html>