<html>
    <head>
        <link rel="stylesheet" href="/css/dash.css">
        <script src="https://kit.fontawesome.com/ff8a8ba3fb.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="dashboard">

            <h1>Dashboard</h1>
        </div>
        <div class="container">
            <div class="containerbox" id="a">
                <div class="text">
                    <h2>Total Student</h2>
                </div>
                <div class="info">
                    <div>
                        <i class="fas fa-user-graduate" style="font-size: 30px;"></i>
                    </div>
                    <div>
                        <h2 style="margin-top: -5px;">1</h2>
                    </div>
                </div>
            </div>
            <div class="containerbox"id="b">
                <div class="text">
                    <h2>Total course</h2>
                </div>
                <div class="info">
                    <div>
                        <i class="fas fa-book" style="font-size: 30px;"></i>
                    </div>
                    <div>
                        <h2 style="margin-top: -5px;">1</h2>
                    </div>
                </div>
            </div>
            <div class="containerbox"id="c">
                <div class="text">
                    <h2><%=user.name%></h2>
                </div>
                <div class="info">
                    <div>
                        <i class="far fa-file-word" style="font-size: 30px;"></i>
                    </div>
                    <div>
                        <h2 style="margin-top: -5px;">1</h2>
                    </div>
                </div>
            </div>
            <div class="containerbox"id="d">
                <div class="text">
                    <h2>Total Questions</h2>
                </div>
                <div class="info">
                    <div>
                        <i class="fas fa-question-circle" style="font-size: 30px;"></i>
                    </div>
                    <div>
                        <h2 style="margin-top: -5px;">1</h2>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>