<!DOCTYPE html>
<html>
<head>
	<title>
		<%= title %>
	</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet"  type="text/css" href="/css/dash.css">
	<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/ff8a8ba3fb.js" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

	<div class="sidebar">
		<div class="logo_content">
			<div class="logo">
				<i class='bx bx-code-alt'></i>
				<div class="logo_name" style ="font-family: 'Dosis', sans-serif; color: rgb(67, 216, 201); text-align: center; font-weight: bold; font-size: 30px;" >  &nbspLet's Quiz </div>
			</div>
			<!-- <i class='bx bx-menu' id="btn" ></i> -->
		</div>
		<ul class="nav_list">
			<li>
				<a id="dash">
					<i class='bx bx-grid-alt' ></i>
					<span>Dashboard</span>
				</a>
                <!-- <span class="tooltip">Dashboard</span> -->
			</li>
            <li>
				<a id="profile" >
					<i class="fas fa-user-graduate"></i>
					<span>Profile</span>
				</a>
                <!-- <span class="tooltip">Dashboard</span> -->
			</li>
            <li>
				<a href="#">
					<i class="fas fa-university"></i>
					<span>Courses</span>
				</a>
                <!-- <span class="tooltip">Dashboard</span> -->
			</li>
            <li>
				<a href="#">
					<i class="far fa-file-alt"></i>
					<span>Test</span>
				</a>
                <!-- <span class="tooltip">Dashboard</span> -->
			</li>
            <li>
				<a href="#">
					<i class="fas fa-poll"></i>
					<span>Results</span>
				</a>
                <!-- <span class="tooltip">Dashboard</span> -->
			</li>
		</ul>
        <div class="profile_content">
            <div class="profile">
                <div class="profile_details">
                    <img src="" alt="">
                    <div class="name_job">
                        <div class="name"><%= user.name %></div>
                        <!-- <div class="job">Department</div> -->
                    </div>
                </div>
                <a href="/StudentSignup/sign-out">
					<button class="signout">
						<i class='bx bx-log-out' id="log_out"></i>
					</button>
				</a>
            </div>
        </div>
	</div>
	<div class="result">

	</div>
	<script>
		var size = [window.width,window.height];  //public variable

		$(window).resize(function(){
		window.resizeTo(size[0],size[1]);
		});
		$(document).ready(function () {
			$('#dash').click(function () {
				$('.result').load('/StudentSignup/studentHome/dash');
			});
			$('#profile').click(function () {
				$('.result').load('/StudentSignup/studentHome/profile');
			});
		});
		$(window).blur(function() {
   			window.close();
		});

		function disableSelection(target){
    		$(function() {
         		$(this).bind("contextmenu", function(e) {
             e.preventDefault();
         	});
        }); 
		if (typeof target.onselectstart!="undefined") //For IE 
			target.onselectstart=function(){return false}
		else if (typeof target.style.MozUserSelect!="undefined") //For Firefox
			target.style.MozUserSelect="none"
		else //All other route (For Opera)
			target.onmousedown=function(){return false}
		target.style.cursor = "default";
		}
		$(document).ready(function(){
			disableSelection(document.body);
		});
	</script>



</body>
</html>